@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
